<p>product-delete works!</p>
<mat-card>
    <mat-card-title>Confirmar exclusão Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="product.name" name="name" disable>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [value]="product.price" name="price" disable>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProduct()" color="primary">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()" color="primary">
        Cancelar
    </button>
</mat-card>
